/*====================================================
Styles Reference 

colors: 
    cream: #e7e4e3
    yellow: #eab354
    tint bgreen : #5f787b
    bgreen : #262b2b
    dark bgreen #0d1011
=====================================================*/
/*======================================================
     BASIC STYLING 
=====================================================*/
*{
    box-sizing: border-box;
}
html,
body{
    background-color: #e7e4e3;
    margin: 0px 0px;
    font-family: 'Playfair Display', serif;
    color:#262b2b;
}
h1{
    color: #262b2b;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 2rem;
    margin: 0;
}
h2{
    color:#262b2b;
font-weight: 800;}
h3{
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom:0;
    color:#e7e4e3;
    padding-top:1rem;
    padding-bottom:1rem;
    background-color:#5f787b;
    font-family: 'Rubik', sans-serif;
}
.protitle{
    background-color: #e7e4e3;
    color:#262b2b;
    font-family: 'Playfair Display', serif;
}
p{
    margin:0;
    color:#262b2b;
    font-family: 'Rubik', sans-serif;
    line-height: 3ch;
    letter-spacing: .10rem;
    font-size: 1rem;
}
ul{
    padding: 0 0;
}
li{
    list-style: none;
    margin: 0px 0px;
}
button{
    background-color: #eab354;
    margin-bottom: .25rem;
    height:44px;
    width: 88px;
    border:0;
    color:#0d1011;
    font-size: 1rem;
    white-space: nowrap;
    cursor: pointer;
    text-decoration: none;
    border-radius: 15px;
}
button:hover{
    background-color:#5f787b;
}
button:focus,
button:visited,
button:active{
    border: 3px solid #5f787b;
}  
.topbtn{
    width: 15rem;
    font-weight: bold;
    color:#0d1011;
}
.btn3{
    margin-bottom: 1.5rem;
}
.mobilealign{
    text-align: center;
}
section h3{
    text-align: center;
}
footer{
    background-color:#5f787b ;
    height: 3rem;
    width: 100vw;  
}
footer p {
   padding-top: .5rem; 
   text-align: center;
}
footer a{
    /* text-decoration: none; */
    color:#0d1011;
}
.tgreen{
    background-color: #5f787b;
    width: 75vw;
}
.bordershadow{
    box-shadow: 0px 4px 5px gray;
    border-radius: 15px;
    border: none;
}
img{
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 60vw;
}
.tagline{
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: .25rem;
    text-transform: lowercase;
    padding:0;
}

.motto{
    padding:0;
}
.smallprint{
    font-size:.75rem;
    letter-spacing: normal;
}
.card p{
    text-align: center;
    letter-spacing: normal;
}
.card{
    width: 75vw;
}
.card{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "proimg"
    "protitle"
    "probtn"
    "desc";
    justify-items: center;
    row-gap: .75rem;;
}
.proimg {grid-area: proimg;}
.protitle{grid-area:protitle;}
.probtn{grid-area:probtn;}
.desc{grid-area: desc}
.brandingGrid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
    "brand"
    "tagline"
    "motto"
    "button";
    align-content: center;
    justify-items: left;
    row-gap: 1rem;
    align-items: left;
    justify-items: left;
}

.centerGrid{
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

/*======================================================
     GRID for Cart 
=====================================================*/
.formGrid{
    display:grid;
    grid-template-columns: .5rem 1fr .5rem;
    grid-template-rows: auto;
    grid-template-areas: 
    ". branding ."
    ". formt ."
    ". crumbs ."
    ". username .";

    align-content: center;
        justify-items: center;
        row-gap: .75rem;
        width: 50vw;
}
/* .bcard{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "

} */

.branding{grid-area: branding;}
.formt{grid-area:formt;}
.crumbs{grid-area:crumbs;}
.username{grid-area: username;}

/*======================================================
     MEDIA QUERIES
=====================================================*/

@media only screen and  (max-width: 600px){
    .mobilegrid{
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: auto;
        grid-template-areas: 
        "header"
        "imgpro"
        "brandingGrid"
        "why"
        "faq"
        /* "faqtable" */
        " guarantee"
        " returns"
        " goodSocial"
        "cancel"
        "pro1"
        "pro2"
        "pro3"
        "footer";
        align-content: center;
        justify-items: center;
        row-gap: .75rem;
        width: 100vw;
    }
    .motto{
        padding-bottom: 1rem;
        text-align: center;
    }
    .tagline{
        padding-top: 1rem;
        text-align: center;
    }
    .brandingGrid{
        align-content: center;
        justify-items: center;
        row-gap: 1rem;
        align-items: center;
        justify-items: center;
    }
}

 @media only screen and (min-width: 600px){ 
    .tabletgrid{
        display:grid;
        grid-template-columns: .5rem 1fr 1fr .5rem;
        grid-template-rows: auto;
        grid-template-areas: 
        "header header header header"
        ". brandingGrid imgpro ."
        /* ". imgpro imgpro ." */
        ". pro1 pro2 ."
        /* ". pro2 pro2 ." */
        ". pro3 pro3 ."
        ". why why ."
        ". faq faq ."
        ". guarantee guarantee ."
        ". returns returns ."
        ". goodSocial goodSocial ."
        ". cancel cancel ."
        "footer footer footer footer";
        align-content: center;
        justify-items: center;
        row-gap: 1rem;
        column-gap: 1rem;
        width: 100vw;
    }
    h3{
        border-radius: 15px;
    }
    .tagline{
        text-align:left;
    }
    .card{
        width:40vw;
    }
    .prod{
        width: 30vw;
    }
    .topbtn{
        width: 40vw;
    }
    .toppic{
        width: 40vw;
        align-self: center;
        justify-self: center;
    }
    .motto{
        text-align: left;
    }
    section h3{text-align: left;
    padding-left: 1rem;}
    section p{ 
        text-align: center;
         padding-left: 1rem;
        padding-right: 1rem;}
} 
    

@media only screen and (min-width: 992px){
    .grid{
        display:grid;
        grid-template-columns: 1rem 1fr 1fr 1fr 1rem;
        grid-template-rows: auto;
        grid-template-areas: 
        "header header header header header"
        /* /* ". imgpro imgpro imgpro ." */
       /* ". brand brand brand ."
        ". about about about ."
        ". . button . ." */
        ". brandingGrid imgpro imgpro ."
        ". pro1 pro2 pro3 ."
        ". why why why ."
        ". faq faq faq ."
        ". guarantee guarantee guarantee ."
        ". returns returns returns ."
        ". goodSocial goodSocial goodSocial ."
        ". cancel cancel cancel ."
        "footer footer footer footer footer";
        align-content: center;
        justify-items: center;
        row-gap: .5rem;
        column-gap: 1rem;
        width: 100vw;
    }
    .card{
        width: 25vw;
    }
    .topbtn{
        width: 30vw;
        max-width: 425px;
    }
    .toppic{
        align-self: center;
        justify-self: center;
    }
    .proimg{
        width: 20vw;
    }
    img{
        width: 50vw
    }
    h1{
        font-size: 4rem; 
        text-align: left;
    }
    .tagline{
        font-size: 2rem;
        text-align: left;
        margin-left:0;
        padding:0;
    }
    .motto{
        font-size: 1rem;
        text-align: left;
        padding:0;
    }
    section{
        text-align: left;
    }
    
}
/*======================================================
     GRID-AREA ASSIGNMENTS
=====================================================*/
.header {grid-area: header;}
.imgpro {grid-area: imgpro;}
.brandTitle {grid-area: brand;}
.about {grid-area: about;}
.topbtn {grid-area:button ;}
.why {grid-area: why;}
.faq {grid-area:faq ;}
.faqtable {grid-area:faqtable ;}
.guarantee {grid-area: guarantee;}
.returns {grid-area:returns ;}
.goodSocial {grid-area: goodSocial;}
.cancel {grid-area: cancel;}
.pro1 {grid-area: pro1 ;}
.pro2 {grid-area: pro2;}
.pro3 {grid-area: pro3;}
footer {grid-area: footer;}
.motto{grid-area: motto;}
.brandingGrid{grid-area: brandingGrid}